.map {
  display: grid;
  grid-template-columns: 20fr 80fr;
  margin: 0px;
  padding: 0px;
}

.map iframe {
  display: block;
  height: 93vh;
  margin: 0px !important;
  padding: 0px !important;
  border: none;
}
